@import url(reset.css);
@font-face {
    font-family: caveat;
    src: url(fonts/caveat-regular.ttf);
}
@font-face {
    font-family: caveatBold;
    src: url(fonts/caveat-bold.ttf);
}
@font-face {
    font-family: caveatBrush;
    src: url(fonts/caveatbrush-regular.ttf);
}
html {
	scroll-behavior: smooth;
}

body {
	background-color: #131313;
	color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	min-width: 320px;
	line-height: 1.5;
}

* {
    outline-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
img {
	max-width: 100%;
}
::selection {
    background-color: transparent;
}

a,
a:link,
a:active {
	color: inherit;
	text-decoration: none;
}
.hidden {
	display: none;
	visibility: hidden;
}
.header {
	max-width: 1366px;
	margin: 0 auto;
	width: 100%;
    position: relative;
    background-image: url(../assets/bar-3407484.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
}
.header-fixed {
	position: fixed;
	width: 100%;
	max-width: 1366px;
	z-index: 99;
	top: 0;
	margin-top: 80px;
}
.main {
	max-width: 1366px;
	margin: 0 auto;
	width: 100%;
	position: relative;
}
.header-nav .navigation {
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	font-size: 1.2em;
	font-weight: lighter;
	justify-content: flex-end;
	width: 100%;
	max-width: 1366px;
	margin: 0 auto;
	left: -100%;
	transition: left 0.3s ease-in-out;
	margin-top: 5px;
	z-index: 9;
}
.navigation .navigation-item {
	cursor: pointer;
	padding: 12px 18px;
	transition: color .3s ease-in-out;
}
.navigation .navigation-item:hover, .navigation .navigation-item.active {
	color: #ffc400;
}
.header-nav.active .navigation {
	left: 0;
}
.btn {
	cursor: pointer;
}
.navigation-toggle {
    position: relative;
	left: 5px;
	top: 5px;
    display: inline-block;
    height: 30px;
}
.navigation-toggle .toggle-bar {
	width: 25px;
	height: 3px;
	background-color: #e4e4e4;
	display: block;
	margin-bottom: 5px;
}
.navigation-toggle .toggle-bar:first-child {
    margin-top: 5px;
}
.header-nav.active .navigation-toggle .toggle-bar {
	display: none;
}
.navigation-toggle .toggle-bar--close {
	display: none;
}
.navigation-toggle .toggle-bar--close::before {
	content: "\00d7";
	font-size: 45px;
    color: #e4e4e4;
    line-height: 30px;
    font-weight: bold;
}
.header-nav.active .navigation-toggle .toggle-bar--close {
	display: block;
}
.main-header {
    font-family: caveat;
    font-size: 4em;
	text-align: left;
	position: absolute;
	bottom: 40px;
    padding: 20px;
}
.section {
	max-width: 1366px;
	margin: 0 auto;
}
.section-title {
	font-family: caveat;
	font-size: 2.2em;
	text-align: center;
	padding: 28px 0;
}
.section-short-info, .section-bowling, .section-menu, .section-bar {
	background-color: #040404;
}
.info-items {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 900px;
	margin: 0 auto;
}
.info-items .info-item {
	padding: 0 35px;
	text-align: center;
	margin: 20px 0;
}
.section-short-info .info-icon {
	width: 24px;
	height: 24px;
	margin: 12px;
}
.section-short-info .info-icon-box {
	position: relative;
	display: inline-block;
}
.section-short-info .info-icon-box::before {
	content: "";
	width: 48px;
	height: 48px;
	border: 1px solid #ffc400;
	transform: rotate(45deg);
	display: block;
	position: absolute;
}
.info-item .info-title {
	margin-top: 30px;
	font-size: 1em;
	color: #ffc400;
	text-transform: uppercase;
}
.section-gallery {
	background-color: #040404;
	max-width: 1366px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.section-gallery .gallery-item {
	flex: 25%;
	max-height: 200px;
	overflow: hidden;
	opacity: .6;
}
.section-gallery .gallery-item:hover {
	opacity: 1;
}
.section-gallery .gallery-image {
	object-fit: cover;
	max-width: 100%;
}
.bowling-pricing {
	background-image: url(../assets/images/bowling_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: Calc(100% - 120px);
	min-height: 240px;
	position: relative;
	padding: 60px;
	display: flex;
	justify-content: center;
	align-content: center;
}
.pricing-box {
	background-color: rgba(4, 4, 4, .9);
	padding: 20px 40px;
}
.pricing-table {
	margin: 20px 0;
}
.pricing-box--title {
	font-size: 1.2em;
}
.pricing-table--header, .pricing-table--description {
	padding: 8px;
	border: 1px solid #ffc400;
	vertical-align: middle;
}
.pricing-table th, .pricing-table tr {
	width: 30%;
	text-align: center;
}
.pricing-table--price {
	font-size: 1.6em;
	font-family: caveatBold;
	color: #ffc400;
}
.pricing-box--footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.table-header--blank {
	border: none;
}
.section-menu .menu-box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.menu-box .menu-cart {
	flex: 100%;
}
.menu-cart.drink-cart {
	max-width: 530px;
}
.section-bar .menu-box {
	display: flex;
	justify-content: center;
}
.menu-cart--title {
	font-family: caveat;
	text-align: center;
	font-size: 1.4em;
}
.menu-cart .cart-item {
	display: flex;
	justify-content: space-between;
}
.menu-pizza--dimensions {
	display: flex;
	justify-content: flex-end;
}
.table-menu {
	width: 100%;
}
.table-menu:hover {
	background-color: #131313;
}
.table-menu--header {
	min-height: 40px;
}
.table-menu--header, .menu-item--price {
	white-space: normal;
	text-align: center;
}
.table-menu--header, .table-menu .menu-item {
	padding: 8px;
}
.menu-item--name {
	color: #ffc400;
	font-size: 1.4em;
	white-space: nowrap;
}
.menu-item--name.small-name {
	font-size: .9em;
}
.menu-cart--info {
	text-align: center;
	margin-bottom: 20px;
	font-size: .8em;
}



.section-contact {
	margin-top: 80px;
}




@media screen and (min-width: 600px) {
	.header {
		height: 420px;
	}	
	.header-nav .navigation {
		display: flex;
		position: relative;
		left: unset;
		flex-direction: row;
        background-color: rgba(0, 0, 0, 0.8);
        margin-top: 0;
	}
	.navigation-toggle {
		display: none;
	}
	.main-header {
		font-size: 7em;
	}
	.info-items {
		flex-direction: row;
	}
	.info-items .info-item {
		flex: 33%;
		padding: 0 45px;
		text-align: center;
		margin: 30px 0;
	}
	.section-short-info .info-icon {
		width: 40px;
		height: 40px;
		margin: 20px;
	}
	.section-short-info .info-icon-box::before {
		width: 80px;
		height: 80px;
	}
	.only-for-desktop {
		display: block;
	}
	.pricing-box {
		padding: 40px 60px;
	}
	.pricing-table {
		margin: 20px 0;
	}
	.pricing-box--title {
		font-size: 1.2em;
	}
	.pricing-table--header, .pricing-table--description {
		padding: 24px;
	}
	.pricing-table th, .pricing-table tr {
		white-space: nowrap;
	}
	.pricing-table--price {
		font-size: 2.6em;
	}
	.pricing-box--footer {
		flex-direction: row;
	}
	.section-menu .menu-box {
		flex-direction: row;
		max-width: 1100px;
		margin: 0 auto;
	}
	.menu-box .menu-cart {
		flex: 40%;
	}
	.menu-cart:last-child {
		margin-left: 40px;
	}
	.table-menu--header, .menu-item--price {
		white-space: nowrap;
	}
}
